In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect('db.sqlite3')
cursor = connection.cursor()

In [7]:
def query_to_df(query):
    cursor.execute(query)
    rows = cursor.fetchall()
    columns = [d[0] for d in cursor.description]
    return pd.DataFrame(rows, columns=columns)

In [11]:
df = query_to_df("""
    SELECT
        students.name || ' ' || students.last_name AS "Estudiante",
        enrollments.grade AS "Calificación",
        courses.semester AS "Semestre",
        CASE teachers.degree
            WHEN 'doctorate' THEN 'Dr.'
            WHEN 'masters' THEN 'Mtro.'
            ELSE 'Lic.'
        END || ' ' || teachers.name || ' ' || teachers.last_name
            AS "Professor",
        classes.name || ' (' || classes.school || ')' AS "Clase"
    FROM enrollments
    INNER JOIN students ON enrollments.student_id = students.id
    INNER JOIN courses ON enrollments.course_id = courses.id
    INNER JOIN teachers ON courses.teacher_id = teachers.id
    INNER JOIN classes ON courses.class_id = classes.id;
    """)
df

,Estudiante,Calificación,Semestre,Professor,Clase
0,andrea escoto,93,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
1,Andrea Perez,82,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
2,Raul Estrada,94,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
3,Natalia Villalpando,93,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
4,Eduardo Díaz,97,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
5,Juan Manuel Valdivia,93,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
6,judith macias,73,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
7,Javier Orozco,93,2023-2,Mtro. Santiago Arizti,Big Data (ECID)
8,Armando Arroyo,98,2023-2,Mtro. Santiago Arizti,Big Data (ECID)