In [ ]:
import pandas as pd
import sqlite3

In [ ]:
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

In [ ]:
create_tables = open('../2023-03-18-clase6/sql/create_tables.sql').read()
cursor.executescript(create_tables)
connection.commit()
insert_into = open('../2023-03-18-clase6/sql/insert_into.sql').read()
cursor.executescript(insert_into)
connection.commit()

In [ ]:
q = """
SELECT
    students.id as "ID",
    students.name || ' ' || students.last_name AS "Estudiante",
    enrollments.grade AS "Calificaci√≥n",
    courses.semester AS "Semestre",
    CASE t.degree WHEN 'doctorate' THEN 'Dr.' WHEN 'masters' THEN 'Mtro.' ELSE 'Lic.' END
        || ' ' || t.name || ' ' || t.last_name
        AS "Profesor",
    classes.name || ' (' || classes.school || ')' AS "Clase"
FROM enrollments
INNER JOIN students ON enrollments.student_id = students.id
INNER JOIN courses ON enrollments.course_id = courses.id
INNER JOIN teachers AS t ON courses.teacher_id = t.id
INNER JOIN classes ON courses.class_id = classes.id
"""
result = cursor.execute(q)
rows = result.fetchall()
columns = [d[0] for d in result.description]
df = pd.DataFrame(rows, columns=columns).set_index('ID')
df

In [ ]:
q = """
SELECT *
FROM students
ORDER BY date_of_birth
"""
result = cursor.execute(q)
rows = result.fetchall()
columns = [d[0] for d in result.description]
df = pd.DataFrame(rows, columns=columns).set_index('id')
# df.date_of_birth = pd.to_datetime(df.date_of_birth)
df